
<!DOCTYPE html >
<html>
{% load staticfiles %}
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/skel.min.js' %}"></script>
<script src="{% static 'js/skel-layers.min.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

<title>로그인</title>
<script src="https://code.jquery.com/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
	<noscript>
			<link rel="stylesheet" href="{% static 'css/skel.css' %}" />
			<link rel="stylesheet" href="{% static 'css/style2.css' %}" />
			<link rel="stylesheet" href="{% static 'css/style-xlarge.css' %}" />
		</noscript>
</head>
<body>
		<header id="header" class="skel-layers-fixed">
				<h1><a href="#"></a>Twenty</h1>
				<nav id="nav">
					<ul>
						<li><a href="{% url 'index' %} ">홈</a></li>
						<li><a href="{% url 'info' %} ">소개</a></li>
						<li><a href="{% url 'Login' %}">마이 페이지</a></li>
						<li><a href="{% url 'boderView' %}">게시판</a></li>
						<li><a href="{% url 'Login' %}" class="button special">로그인</a></li>
					</ul>
				</nav>
			</header>

	<div class = "container">
		<form action="{% url 'CheckIdPw' %}" method="post" name="CheckIdPw">
		{% csrf_token %}
		{{ form|linebreaks }}
		<table class="table table-bordered table-hover" style="text-align: center; border: 1px solid #dddddd">
	     <thead>
	       <tr>
	       <th colspan="2"><h4>로그인</h4></th>
	       </tr>
	      </thead>
	      <tbody>
	       <tr>
	        <td style="width: 110px;"><h5>아이디</h5></td>
	        <td><input class ="form-control" type="text" name="id" maxlength="20" placeholder="아이디를 입력하세요."></td>
	       </tr>
	       <tr>
	        <td style="width: 110px;"><h5>패스워드</h5></td>
	        <td><input class ="form-control" type="password" name="pw" maxlength="20" placeholder="비밀번호를 입력하세요."></td>
	       </tr>
	       <tr>
	          <td style="text-align: left" colspan="2">
				  <input class="btn btn-primary pull-right" type="submit" value="로그인">
				  <input class="btn btn-primary pull-right" type="button" value="회원가입" onclick="chk();">
			  </td>

	       	</tr>
	     	</tbody>
		</table>
		</form>
	
	</div>

	<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="vertical-alignment-helper">
			<div class="modal-dialog vertical-align-center">
				<div class="modal-content <%if (messageType.equals("오류 메시지")) out.println("panel-warning");else out.println("panel-success");%>">
					<div class="modal-header panel-heading">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times</span> 
							<span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title">
							<%= messageType %>
						</h4>
					</div>
					<div class="modal-body">
						<%= messageContent %>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="checkModal" tabindex="-1" role="dialog"aria-hidden="true">
		<div class="vertical-alignment-helper">
			<div class="modal-dialog vertical-align-center">
				<div id="checkType" class="modal-content panel-info">
					<div class="modal-header panel-heading">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times</span> 
							<span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title">확인 메시지</h4>
					</div>
					<div id="checkMessage" class="modal-body">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
<script type="text/javascript">
function chk(){
   location.href = "{% url 'join' %}";

}
</script>
</html>